<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528731919394-h36rgr39b9rcb1bdnal9pc67bbof6vmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528731919394-h36rgr39b9rcb1bdnal9pc67bbof6vmv</string>
	<key>API_KEY</key>
	<string>AIzaSyAhXCUKZSFO48MPe1DDacjnKMvEb3m5iVU</string>
	<key>GCM_SENDER_ID</key>
	<string>528731919394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.bandhifycustomer</string>
	<key>PROJECT_ID</key>
	<string>bandhify-34127</string>
	<key>STORAGE_BUCKET</key>
	<string>bandhify-34127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528731919394:ios:e1876ef0226e561973e67b</string>
</dict>
</plist>